.header {
  background: rgb(144, 211, 223);
  color: rgb(13, 64, 139);
  font-size: 25px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.navbar {
  overflow: hidden;
  background-color: rgb(56, 106, 199);
  font-family: Arial;

  text-align: center;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(61, 46, 201);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #72c1e0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(90, 32, 165);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.welcome {
  /*padding-left: 1250px;*/
  text-align: right;
  color: rgb(53, 63, 206);
  padding-inline: 5px;
}
.sub_header {
  color: rgb(21, 69, 131);
  background-color: rgb(98, 182, 238);
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.head {
  color: rgb(21, 69, 131);
  font-size: 36px;
  padding: 10px;
  font-weight: bold;
}
.tbl {
  text-align: center;
  align-items: center;
  margin: 25px 0;
  min-width: 400px;
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tbl thead tr {
  background-color: rgb(144, 211, 223);
  font-weight: bold;
  color: blue;
}
.tbl td {
  padding: 12px 15px;
}
.tbl tbody tr:hover {
  background-color: rgb(53, 63, 206);
}
.tbl tbody tr {
  border-bottom: 1px solid rgb(98, 182, 238);
}

.tbl tbody tr:last-of-type {
  border-bottom: 2px solid rgb(53, 63, 206);
}
#appstatus {
  font-size: 30px;
  font-weight: bold;
  color: darkslateblue;
}
