h2{
    text-align: center;
}
body{
  font-size:120%;
  background-image: url("Images/background/history_back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
background-position: center;
background-size: cover;

}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #d0d6e7}
  
  th {
    background-color: #90c6cf;
    color: white;
  }
